<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCtpUB55QMjXwDYklTrjAz6eDH0PHLM0KQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1053126543711</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hunger</string>
	<key>PROJECT_ID</key>
	<string>hunger-cbd8e</string>
	<key>STORAGE_BUCKET</key>
	<string>hunger-cbd8e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1053126543711:ios:1263f4aa0cf38da3728eea</string>
</dict>
</plist>